:root {
    font-family: Arial, Helvetica, sans-serif;
    --theme-primary-color: #e30613;
    --theme-secondary-color: #a5010c;
    --theme-accent-color: #ffed00;
    font-size: 16px;
}

a.button, .menu a, button, input, select, textarea, swd-input {
    font-size: 18px;
}

swd-card h3, swd-card-outline h3 { font-size: 1.3em; }

.primary-color { background: #e30613 !important }
.secondary-color { background: #a5010c !important }
.accent-color { background: #ffed00 !important }
.grey-color { color: var(--theme-text-color) !important }

.primary-text { color: #e30613 !important }
.secondary-text { color: #a5010c !important }
.accent-text { color: #ffed00 !important }

@media (display-mode: standalone) {
    html, body {
        overscroll-behavior: none;
    }
}

swd-icon.reload-icon { mask-image: url('data:image/svg+xml,<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M17 9 Q16.5 16.5 9 17 Q1.5 16.5 1 9 Q1.5 1.5 9 1 Q14 1 16.6 5 M17 0 V5 H12" stroke-width="2" stroke="black" fill="none"/></svg>') }
swd-icon.offline-icon { mask-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" stroke="white" xmlns="http://www.w3.org/2000/svg"><path d="M14 15 H6 Q1.3 14.7 1 10 Q1.3 5.3 6 5 Q10.7 5.3 11 10 V12 Q11.2 9.2 14 9 Q16.8 9.2 17 12 Q16.8 14.8 14 15 Z M1 17 L17 1" stroke-width="2" stroke="black" fill="none"/></svg>') }
swd-icon.weather-icon { mask-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" stroke="white" xmlns="http://www.w3.org/2000/svg"><path d="M14 15 H6 Q1.3 14.7 1 10 Q1.3 5.3 6 5 Q10.7 5.3 11 10 V12 Q11.2 9.2 14 9 Q16.8 9.2 17 12 Q16.8 14.8 14 15 Z M14 9 Q16 9 16 6 Q15.8 2.2 12 2 Q8.2 2.2 8 6" stroke-width="2" stroke="black" fill="none"/></svg>') }
swd-icon.water-icon { mask-image: url('data:image/svg+xml,<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 4 Q4 1 7 4 T13 4 T19 4 M1 9 Q4 6 7 9 T13 9 T19 9 M1 14 Q4 11 7 14 T13 14 T19 14" stroke-width="2" stroke="black" fill="none"/></svg>') }
swd-icon.folder-icon { mask-image: url('data:image/svg+xml,<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 15 H17 V5 H9 V1 H1 Z" stroke-width="2" stroke="black" fill="transparent"/></svg>') }

dlrg-empty {
    display: block;
    padding: calc(round(.5em,1px) - var(--theme-border-width)) calc(round(.6em,1px) - var(--theme-border-width));
    border-radius: var(--theme-border-radius);
    margin-bottom: var(--theme-element-spacing);
    background: var(--theme-element-primary-color);
    text-align: center;
}

dlrg-error {
    display: block;
    padding: calc(round(.5em,1px) - var(--theme-border-width)) calc(round(.6em,1px) - var(--theme-border-width));
    border-radius: var(--theme-border-radius);
    margin-bottom: var(--theme-element-spacing);
    background: var(--theme-error-color);
    color: white;
}